h1 {
    color: red;
}

body {
    background-color: yellow;
}

p {
    color: orange;
}
#imgToggler{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left:-135px;
    margin-top:-68px;
}
#clickMe{
    background-color: #E3E1B8; 
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}